# =====================================================
# Python
# =====================================================

__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Virtual environment
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# =====================================================
# Environment & Secrets
# =====================================================

.env
.env.*
!.env.example

airflow_settings.yaml
airflow.cfg
airflow.db
webserver_config.py
airflow-webserver.pid

# =====================================================
# Airflow
# =====================================================

logs/
astro/

# =====================================================
# OS
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# IDE
# =====================================================

.vscode/
.idea/

# =====================================================
# Temporary files
# =====================================================

*.tmp
*.temp
*.swp